In [6]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('data/train_dropped_290_without_nans.csv')
test = pd.read_csv('data/test_dropped_290_without_nans.csv')

y_train=pd.read_csv('data/y_train.csv')['Culture']

In [8]:
df['Culture']=y_train

In [9]:
df['Culture'].value_counts()

4     1301
3      338
7      246
9      186
5      132
14      87
8       85
12      78
10      60
16      58
2       49
11      45
1       36
13      33
21      25
17      21
6       14
22       8
15       7
20       7
23       6
24       6
28       2
18       2
25       2
19       2
26       1
27       1
Name: Culture, dtype: int64

In [14]:
to_drop1=[27,26,19,25,18,28]
to_drop2=[27,26,19,25,18,28,24,23,20,15,22]
df1_index=df.query('Culture in @to_drop1').index
df1_index

Int64Index([430, 527, 1075, 1408, 1855, 2073, 2086, 2164, 2327, 2562], dtype='int64')

In [15]:
df2_index=df.query('Culture in @to_drop2').index
df2_index

Int64Index([  88,  242,  430,  437,  470,  474,  479,  520,  527,  777,  859,
             889,  939,  968, 1022, 1075, 1112, 1185, 1202, 1235, 1238, 1273,
            1349, 1408, 1479, 1536, 1592, 1609, 1700, 1800, 1855, 1886, 1908,
            1969, 2073, 2086, 2164, 2215, 2327, 2562, 2592, 2602, 2663, 2758],
           dtype='int64')

In [16]:
df1=df.drop(df1_index,axis=0)
df2=df.drop(df2_index,axis=0)

In [17]:
df1.to_csv('data/train_290_without_low1.csv',index=False)
df2.to_csv('data/train_290_without_low2.csv',index=False)